body {
	font-family: "Trebuchet MS", sans-serif;
	color: black;
	text-align: justify;
	font-size: 150%;
	background-color: #E5DFD0;
}

h1 {
  color: #fdfdfd;
  font-family: "Archivo Black";
  text-align: center;
  font-weight: lighter;
  font-size: 100;
  font-style: oblique;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: black;
}
h2 {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	text-align: center;
	font-size: xx-large;
	font-style: italic;
	margin-bottom: -25px;
  
}
h3 {
	font-style: italic;
	font-family: Verdana, sans-serif;
	text-align: left;
	color: #F06C53;
	min-width: 0px;
	float: none;
}
h4 {
  font-family: "Archivo Black";
  text-align: center;
  font-weight: lighter;
  font-style: oblique;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}
h5 {
  font-family: "Archivo Black";
  text-align: left;
  font-weight: lighter;
  font-style: oblique;
  font-size: 100%;
}

a {
  color: white;
  
}

img {
  border-radius: 0px;
  
}

header {
	position: fixed;
	transition: all 500ms ease;
	top: 10px;
}

header ul {
	border-radius: 100px;
	border: 2px solid black;
	background-color: #204A64;
	text-align: center;
	font-size: large;

}

header.scrolled {
	top: -50px;
	transition: all 500ms ease-in-out;
	position: fixed;

}

header ul li {
	list-style-type: none;
	display: inline;
	margin-right: 20px;
	margin-left: 10px;
	text-align: center;
	color: lightgray;
	padding-right: 20px;
}

header ul li a{
	text-decoration: none;
	text-align: center;
}


table {
	text-align: left;
	border: 2px solid #35366F;
	border-collapse: separate;
	border-spacing: 5px 5px;
	border-radius: 10px;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.actor-regular {
  font-family: "Actor", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bakbak-one-regular {
  font-family: "Bakbak One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.alata-regular {
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.image-background {
	background-image: url(../html/newjeans/images/newjeans%20background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.image-backgroundhome {
	background-image: url(images/newjeans%20homescreen.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: scroll;
	position: relative;
}

.hometext-center {
	font-family: "Trebuchet MS", sans-serif;
	color: #000000;
	text-align: left;
	font-weight: 200;
	font-size: large;
	margin-top: 0px;
	margin-left: 10px;
	margin-right: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	float: none;
	opacity: 1;
	background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,0.83) 0%,rgba(229,223,208,1.00) 0%,rgba(255,255,255,0.73) 10.36%,rgba(72,87,255,0.94) 74.61%);
	background-image: -moz-linear-gradient(270deg,rgba(255,255,255,0.83) 0%,rgba(229,223,208,1.00) 0%,rgba(255,255,255,0.73) 10.36%,rgba(72,87,255,0.94) 74.61%);
	background-image: -o-linear-gradient(270deg,rgba(255,255,255,0.83) 0%,rgba(229,223,208,1.00) 0%,rgba(255,255,255,0.73) 10.36%,rgba(72,87,255,0.94) 74.61%);
	background-image: linear-gradient(180deg,rgba(255,255,255,0.83) 0%,rgba(229,223,208,1.00) 0%,rgba(255,255,255,0.73) 10.36%,rgba(72,87,255,0.94) 74.61%);
}

.image-center img {
  display: block; 
  margin: 0 auto;
  right: -295px;
  position: relative;
  
}

.hero {
	display: flex;
	gap: 30px;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
	float: none;
	text-align: center;
	text-decoration: none;
}

.true {
	display: flex;
	gap: 20px;
	justify-content: center;
	align-items: center;
	margin-bottom: 100px;
	margin-top: 35px;
}

.kar {
	display: flex;
	gap: 150px;
	justify-content: center;
	align-items: center;
	margin-bottom: 100px;
	right: 41px;
	left: 0px;
	margin-top: -30px;
	margin-left: -170px;
}

.about-par {
  font-family: "Trebuchet MS", sans-serif ;
  color: black;
  text-align: justify;
  background-color: #fdfdfd;
  border-width: 2cm;
  padding: 50px;
}

.footer {
	width: 25px;
	height: 15px;
	top: 200px;
	bottom: 10px;
	display: table;
	margin-bottom: -10px;
	margin-left: 10px;
}
#footerbottom {
	height: 100px;
	margin-top: 100px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.cookienotice {
	color: #FFFFFF;
	text-align: left;
	background-color: #000000;
	border-color: #FFFFFF;
	font-style: normal;
	font-size: small;
}
.social {
	border-radius: 1px;
	background-color: none;
	border: 0px  #FFFFFF;
	font-size: large;
	list-style-type: none;
	/* display: inline; */
	margin-right: 5px;
	margin-left: 10px;
	text-decoration: none;
	color: #FFFFFF;
	text-align: center;
	text-shadow: 0px 0px #FFFFFF;
}
.audio {
	display: table;
	gap: 30px;
	justify-content: center;
}

.infotable {
	display: flex;
	gap: 30px;
	justify-content: center;
	align-items: left;
	margin-bottom: 10px;
	float: none;
	text-align: left;
	text-decoration: none;
	-webkit-box-shadow: 0px 0px;
	box-shadow: 0px 0px;
}

.tablemid {
	background-color:#6281CB;
	text-align:center;
	
}

.tablehome {
	border-width: 0px;	
}

.tableabout {
	background-color:#A7C9E8;
}

.image-danielle {
	background-image: url(images/dannipage.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;	
}

.image-haerin {
	background-image: url(images/haerinpage.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.image-hanni {
	background-image: url(images/hannipage.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.image-hyein {
	background-image: url(images/hyeinpage.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.image-minji {
	background-image: url(images/minjipage.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

#imgGallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: 95%;
	max-width: 800px;
}

#imgGallery img {
	cursor: pointer;
	filter: grayscale(0.75);
	transition: 0.4s;
	margin: 5px;
	
}

#imgGallery img:hover {
	filter: grayscale(0%);
}

footer ul {
	display: flex;
	justify-content: center;
}

footer ul li {
	list-style-type: none;
	margin-right: 10px;
	margin-left: 10px;
	text-align: center;
	color: lightgray;
	padding-right: 20px;

}

footer ul li a{
	text-decoration: none;
	text-align: center;
}

